@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
  }
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: inline;
    
}

.jumbotron {
    padding: 30px;
    background-color:#F1F6F9 ;
    color: #173b74;
    text-align: center;
    font-size: 19px;
}

.logo{
    width: 30%;
}

h2, h3{
    color:#173b74;                                         
}

h4{
    color: #4F709C;
}

  .justify {
    text-align: justify;
  }

nav {
    background-color: #394867;
    padding: 6px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
 }

 nav a {
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
   
 }

 nav a:hover {
    font-weight: 600;
  }


 nav ul {
  padding-inline: 4rem;
  display: flex;
  gap: 2rem;
}

nav li {
    list-style-type: none;
  }

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap:2rem;
}

#content {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

article {
    flex-basis: auto;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.card {
    box-shadow: 15px 10px 5px 0px rgba(145, 144, 144, 0.2);
    border-radius: 35px;
    padding: 20px;
  }

  .profile header {
    text-align: center;
  }
  .profile img{
    width: 150px;
  }

aside {
    flex:1;
}

footer {
    background-color: #929bab;
    color: white;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
}

@media screen and (max-width: 1200px) {
    main {
      flex-flow: column nowrap;
    }
    main aside {
      align-self: center;
    }
  }
   
@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
    article, aside {
        flex-basis: 100%;
    }
    main aside {
      align-self: stretch;
    }
}
